@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); 

* {
  color: white;
}

#h1 {
  text-align: center;
  font-size: 25px;
  padding-top: 35px;
  font-size: 18px;
  font-family: 'Press Start 2P', cursive;
}



.selection {
  display: flex;
  justify-content: center;
}

body {
  margin: 50px;
  padding: 0;
  box-sizing: border-box;
  background-color: #18191f;
  border-radius: 10px;
}

body {
  height: 800px;
  box-shadow:
    0 0 0.1vw 0.2vw #fff7f7,
    0 0 0.4vw 0.3vw #1f1f91,
    0 0 4vw 0.2vw #04284f,

    inset 0 0 1.5vw 0.4vw #0b95e5,
    inset 0 0 0.4vw 0.2vw #7284e9,
    inset 0 0 0.5vw 0.2vw #fff7f7;
    border-radius: 0.2%;
}

#result {
  color: rgb(232, 231, 231);
  text-align: center;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
}

.screen-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
}

.sectionYou,
.sectionComputer {
  align-items: flex-start;
  text-align: center;
  width: 23rem;
}

.showYou {
  padding: 20px;
  font-size: 100px;
}

.showComputer {
  padding: 20px;
  padding-left: 100px;
  font-size: 100px;
}

.infoComputer, .infoYou{
  font-size: 20px;
}


.navbar {
  color: white;
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 100%;
  align-items: center;
  padding-top: 20px;

}

#home-icon,
#history-icon,
#rule-icon {
  margin-right: 10px;
}

a {
  color: #ffffff;
  text-shadow: 0 0 15px #f1f9f9;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
}


#restart-button {
  margin-top: 5vh;
  margin-left: 10vw;
  width: 140px;
  height: 80px;
  border-radius: 25px;
  border: 3px solid rgb(70, 70, 177);
  font-size: 25px;
  background-color: #18191f;
  color: #555;
  transition-duration: 0.4s;
  box-shadow: 0 0 15px rgb(70, 70, 177) ;
  cursor: pointer;

 /*  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  line-height: 30px; */

}

#restart-button:hover {
  color: #00f3ff;
  text-shadow: 0 0 15px #00f3ff;
  box-shadow: 0 0 15px rgb(70, 70, 177) ;
}

.restart-game {
  display: inline;
  margin-top: 50px;
}


#rock,
#paper,
#scissors {
  text-align: center;
  width: 200px;
  height: 100px;
  font-size: 60px;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#rock,
#paper,
#scissors {
  border-radius: 25px;
  background-color: #18191f;
  color: #555;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

#rock {
  border: 4px solid #00f3ff;
  box-shadow: 0 0 15px #00f3ff;
}

#paper {
  border: 4px solid yellowgreen;
  box-shadow: 0 0 15px yellowgreen;
}

#scissors {
  border: 4px solid red;
  box-shadow: 0 0 15px red;
}



#rock:disabled,
#rock:hover:disabled,
#paper:disabled,
#paper:hover:disabled,
#scissors:disabled,
#scissors:hover:disabled {
  color: #555;
  text-shadow: none;
  border: 3px solid #555;
}

#rock:hover {
  color: #00f3ff;
  text-shadow: 0 0 15px #00f3ff;
}

#paper:hover {
  color: greenyellow;
  text-shadow: 0 0 15px greenyellow;
}

#scissors:hover {
  color: red;
  text-shadow: 0 0 15px red;
}