* {
  color: antiquewhite;
}

h1 {
  color: #12e4eb;
}
body {
  margin: 50px;
  padding: 0;
  box-sizing: border-box;
  background-color: #18191f;
  border: 3px solid greenyellow;
  border-radius: 10px;
}

#user-score,
#computer-score {
  font-size: 50px;
}
.container-home {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
}

.navbar {
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 100%;
  align-items: center;
}

#home-icon,
#history-icon,
#rule-icon {
  margin-right: 10px;
}
a {
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

#restart-button {
  margin-top: 1vh;
  margin-bottom: 3vh;
  margin-left: 43vw;
  width: 140px;
  height: 80px;
  border-radius: 25px;
  border: 3px solid blue;
  font-size: 25px;
  background-color: #18191f;
  color: #555;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
#restart-button:hover {
  color: #00f3ff;
  text-shadow: 0 0 15px #00f3ff;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#rock,
#paper,
#scissors {
  border-radius: 25px;
  border: 3px solid blue;
  font-size: 25px;
  background-color: #18191f;
  color: #555;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
#rock:disabled,
#rock:hover:disabled,
#paper:disabled,
#paper:hover:disabled,
#scissors:disabled,
#scissors:hover:disabled {
  color: #555;
  text-shadow: none;
  border: 3px solid #555;
}

#rock:hover {
  color: #00f3ff;
  text-shadow: 0 0 15px #00f3ff;
}

#paper:hover {
  color: greenyellow;
  text-shadow: 0 0 15px greenyellow;
}

#scissors:hover {
  color: red;
  text-shadow: 0 0 15px red;
}
#home,
#gamerules,
#gamehistory {
  font-size: 20px;
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

/* 
#rps-title,
#gif {
  margin-bottom: 40px;
} */
/* 
.start-button {
  justify-content: center;
} */
/* 
#gif {
  border-radius: 20%;
  border: 3px solid black;
} */
/* 
#section1 {
  visibility: visible;
  position: relative;
  text-align: center;
  padding-top: 5%;
} */
/* 
#Button,
#restart-button {
  width: 100px;
  height: 60px;
  padding: 10px;
  margin: 20px;
  border-radius: 12px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  color: #00f3ff;
  text-shadow: 0 0 15px #00f3ff;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:active {
  box-shadow: 0 4px #666;
  transform: translateY(4px);
} */
/* 
#Button:hover {
  background-color: #008793;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
} */
/* 
#Button:active {
  box-shadow: 0 4px #666;
  transform: translateY(4px);
} */

#home,
#gamerules,
#gamehistory {
  text-decoration: none;
}

header {
  border: 1px solid black;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}
/* MAIN GAME */

.sectionScore {
  margin-top: 100px;
  display: inline-block;
  padding-left: 20%;
  font-size: 40px;
  font-weight: bold;
}

h1 {
  text-align: center;
  margin-top: 50px;
}
#selectionButtons {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  font-size: 30px;
}

.sectionYou,
.sectionComputer {
  text-align: center;
  /*  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #12e4eb
  ); */

  width: 23rem;
}
.showYou {
  padding: 20px;
  font-size: 100px;
}

.showComputer {
  padding: 20px;
  padding-left: 100px;
  font-size: 100px;
}

.selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#rock,
#paper,
#scissors {
  text-align: center;
  width: 200px;
  height: 100px;
  font-size: 40px;
  margin-top: 1rem;
  margin-bottom: 5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

table {
  margin: auto;
}

.scoreBoard {
  margin-top: 3rem;
  border: 1px solid antiquewhite;
}

h2 {
  text-align: center;
}

th {
  font-size: 18px;
  align-items: center;
  padding: 10px;
}
td {
  border: 1px solid antiquewhite;
  width: 6rem;
  height: 1.5rem;
}

.rule-body {
  background-color: #18191f;
}

.rule-titles {
  display: flex;
  justify-content: flex-start;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.rules-text {
  font-size: 20px;
  margin-left: 2rem;
}

.shapes {
  margin: 2rem;
  min-height: 20%;
  width: 60%;
  display: grid;
  justify-content: space-between;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 20rem 20rem 20rem;
  grid-template-areas:
    "photo1 photo2 photo3"
    "name1 name2 name3"
    "des1 des2 des3";
}

#rock-img {
  grid-area: photo1;
}
#paper-img {
  grid-area: photo2;
}
#scissors-img {
  grid-area: photo3;
}

.symbol-rock {
  grid-area: name1;
  font-size: 25px;
  align-self: center;
}
.symbol-paper {
  grid-area: name2;
  font-size: 25px;
  align-self: center;
}

.symbol-scissors {
  grid-area: name3;
  font-size: 25px;
  align-self: center;
}

.symbol-text1 {
  grid-area: des1;
  font-size: 20px;
}
.symbol-text2 {
  grid-area: des2;
  font-size: 20px;
}
.symbol-text3 {
  grid-area: des3;
  font-size: 20px;
}

#rules {
  font-size: 20px;
  margin-left: 5rem;
}
