* {
  margin: 0;
  padding: 0;
}

.container-home {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right top,
      #051937,
      #004d7a,
      #008793,
      #00bf72,
      #a8eb12);
}

.navbar {
  display: flex;
  /* padding-left: 200px; */
  /*  align-self: stretch; */
  justify-content: space-around;

  height: 50px;
  width: 100%;
  align-items: center;
}

#restart-button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 1rem;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid black;
}

#home,
#gamerules,
#gamehistory {
  font-size: 20px;
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

/* a.active,
a:hover {
  background: #54a1db;
  transition: 0.5s;
} */

#rps-title,
#gif {
  margin-bottom: 40px;
}

.start-button {
  display: flex;
  justify-content: center;
}

#gif {
  border-radius: 20%;
  border: 3px solid black;
}

#section1 {
  visibility: visible;
  position: relative;
  text-align: center;
  padding-top: 5%;
}

#Button,
#restart-button {
  background-color: rgba(230, 25, 0, 0.25);
  width: 100px;
  height: 60px;
  padding: 10px;
  margin: 20px;
  border-radius: 12px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  font-size: 15px;
}

#Button:hover {
  background-color: rgba(230, 25, 0, 0.75);
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#Button:active {
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}

#home,
#gamerules,
#gamehistory {
  text-decoration: none;
  /* padding-left: 10%; */
}

header {
  border: 1px solid black;
  background-image: linear-gradient(to right top,
      #051937,
      #004d7a,
      #008793,
      #00bf72,
      #a8eb12);
}

/* MAIN GAME */

.sectionScore {
  margin-top: 100px;
  display: inline-block;
  padding-left: 20%;
  font-size: 40px;
  font-weight: bold;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

#selectionButtons {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  font-size: 50px;
  /* background-color: rgb(208, 240, 250);  */
}

.sectionYou,
.sectionComputer {
  background-image: linear-gradient(to right top,
      #051937,
      #004d7a,
      #008793,
      #00bf72,
      #12e4eb);
  width: 30%;
}

.showYou {
  padding: 20px;
  font-size: 100px;
}

.showComputer {
  padding: 20px;
  padding-left: 100px;
  font-size: 100px;
}

.selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#Rock,
#Paper,
#Scissors {
  text-align: center;
  width: 200px;
  height: 100px;
  font-size: 40px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

h2 {
  text-align: center;
}

button:hover {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

td {
  border: 1px solid black;
  width: 3.7rem;
  height: 1.5rem;
}

#heading-table {
  margin-top: 5rem;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
}

th {
  width: 3.95rem;
}

#data-table {
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
}

.table-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Game Rules Styling */

.rule-body {
  background-color: #9edac2;
}

/*.rules-container {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
}*/

.rule-titles {
  display: flex;
  justify-content: flex-start;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.rules-text {
  font-size: 20px;
  margin-left: 2rem;
}

.shapes {
  margin: 2rem;
  min-height: 20%;
  width: 60%;
  display: grid;
  justify-content: space-between;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 20rem 20rem 20rem;
  grid-template-areas:
    "photo1 photo2 photo3"
    "name1 name2 name3"
    "des1 des2 des3";
}

#rock-img {
  grid-area: photo1;
}

#paper-img {
  grid-area: photo2;
}

#scissors-img {
  grid-area: photo3;
}

.symbol-rock {
  grid-area: name1;
  font-size: 25px;
  align-self: center;
}

.symbol-paper {
  grid-area: name2;
  font-size: 25px;
  align-self: center;
}

.symbol-scissors {
  grid-area: name3;
  font-size: 25px;
  align-self: center;
}

.symbol-text1 {
  grid-area: des1;
  font-size: 20px;
}

.symbol-text2 {
  grid-area: des2;
  font-size: 20px;
}

.symbol-text3 {
  grid-area: des3;
  font-size: 20px;
}

#rules {
  font-size: 20px;
  margin-left: 5rem;
}