body {
  margin: 50px;
  padding: 0;
  box-sizing: border-box;
  background-color: #18191f;
  border: 3px solid greenyellow;
  border-radius: 10px;
}

.container-home {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

.navbar {
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 100%;
  align-items: center;
}

#home-icon,
#history-icon,
#rule-icon {
  margin-right: 10px;
}
a {
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.icons-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.icons-container {
  margin-top: 10%;
  margin-bottom: 5%;
}
#rock {
  grid-row: 1/2;
  grid-column: 1/2;
  color: #00f3ff;
  text-shadow: 0 0 15px #00f3ff;
  align-self: center;
}
#scissors {
  grid-row: 1/2;
  grid-column: 3/4;
  color: red;
  text-shadow: 0 0 15px red;
  align-self: center;
}

#paper {
  grid-row: 1/2;
  grid-column: 2/3;
  color: greenyellow;
  text-shadow: 0 0 15px greenyellow;
  align-self: center;
}

#rock,
#scissors,
#paper {
  margin: auto;
  font-size: 150px;
}
#rockname {
  grid-row: 2/3;
  grid-column: 1/2;
}

#papername {
  grid-row: 2/3;
  grid-column: 2/3;
}
#scissorsname {
  grid-row: 2/3;
  grid-column: 3/4;
}

#rockname,
#papername,
#scissorsname {
  visibility: hidden;
  margin: auto;
}
#rock:hover,
#rockname:hover {
  color: #00f3ff;
  text-shadow: 0 0 15px #00f3ff;
}

#paper:hover,
#papername:hover {
  color: greenyellow;
  text-shadow: 0 0 15px greenyellow;
}
#scissors:hover,
#scissorsname:hover {
  color: red;
  text-shadow: 0 0 15px red;
}

#Button {
  margin-top: 3vh;
  margin-bottom: 5vh;
  width: 140px;
  height: 60px;
  border-radius: 25px;
  border: 3px solid blue;
  font-size: 20px;
  background-color: #18191f;
  color: #555;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

#Button:hover {
  color: #00f3ff;
  text-shadow: 0 0 15px #00f3ff;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#form {
  text-align: center;
}

#entername {
  color: antiquewhite;
  font-size: 25px;
}

#username {
  display: inline;
  height: 25px;
  background-color: #008793;
}
