body{
  height: 800px;
}

table,  td{
    border: none;
    padding: 2px;
    text-align: center;
}


.scoreBoard th{
  font-size: 17px;  
  }

  .scoreBoard, .dataTable{
    margin-bottom: 12px;
  }
 

  .glowing-table {

    width: 300px;
    height: 335px;
    background: rgb(24, 23, 23);
    margin: 30px auto;
    color: #fff;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .dataTable{
   margin-bottom: 52px;
  }
  
  .glowing-table::after {
    content: "";
    position: absolute;
    height: 80%;
    width: 90%;
    background: linear-gradient(rgb(11, 223, 75),rgb(8, 48, 230));
    z-index: -1;
    filter: blur(30px);
    top: 11px;
    left: 13px;
    transition: all 500ms ease;
  }
  
  .glowing-table:hover::after {
    height: 103%;
    width: 102%;
    top: 0;
    left: 0;
  }

  .scoreBoard, .dataTable{
      box-shadow:
        0 0 0.1vw  0.2vw #fff7f7,   
        0 0 0.4vw  0.3vw #1f1f91, 
        0 0   4vw  0.2vw #04284f,
        
        inset 0 0 1.5vw  0.4vw #0b95e5,
        inset 0 0 0.4vw  0.2vw #7284e9,
        inset 0 0 0.5vw  0.2vw #fff7f7;
        border-radius: 1%;
      
      }
  